/*
.container {
    display: flex;
    flex-direction: column;
}
*/
.row {
    height: 100px;
    display: flex;
}

.square {
    background-color: blueviolet;
    flex-direction: column;
    height: 100px;
    width: 100px;
}