html, body {
    height: 95%;
}

.button {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.container {
    height: 95%;
    aspect-ratio: 1/1;
    margin: auto;
}

.row {
    display: flex;
}

.square {
    height: 100%;
}